name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        api-version: ["6.0", "6.5", "8.0"]
        arch: [arm, arm64, x86, x64]
        include:
          - arch: arm
            triple: arm-linux-gnueabi
          - arch: arm64
            triple: aarch64-linux-gnu
          - arch: x86
            triple: i686-linux-gnu
          - arch: x64
            triple: x86-64-linux-gnu
        exclude:
          - api-version: "6.0"
            arch: x64
          - api-version: "6.5"
            arch: x64
          - api-version: "8.0"
            arch: arm
          - api-version: "8.0"
            arch: arm64
          - api-version: "8.0"
            arch: x86

    steps:
      - uses: actions/checkout@v4
        with:
          path: src

      - uses: actions/cache@v4
        with:
          path: src/sysroot*
          key: sysroot-${{ matrix.api-version }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-17 rpm2cpio cpio binutils-${{ matrix.triple }} patchelf

      - name: Install depot_tools
        run: |
          git clone --depth=1 https://chromium.googlesource.com/chromium/tools/depot_tools.git
          echo "$PWD/depot_tools" >> $GITHUB_PATH

      - name: Run gclient sync
        run: |
          gclient config --name=src --unmanaged https://github.com/${{ github.repository }}
          gclient sync -v --no-history --shallow

      - name: Generate Tizen ${{ matrix.api-version }} sysroot
        run: src/tools/generate_sysroot.py --api-version ${{ matrix.api-version }} --out src/sysroot-${{ matrix.api-version }}

      - name: Build for Tizen ${{ matrix.api-version }}
        run: |
          src/tools/gn \
            --target-cpu ${{ matrix.arch }} \
            --target-toolchain /usr/lib/llvm-17 \
            --target-sysroot src/sysroot-${{ matrix.api-version }}/${{ matrix.arch }} \
            --api-version ${{ matrix.api-version }} \
            --target-dir build
          ninja -C src/out/build

          #Note: Change experimental so's soname(https://github.com/flutter-tizen/embedder/issues/110)
          patchelf --set-soname libflutter_tizen_common.so src/out/build/libflutter_tizen_common_experimental.so
          patchelf --set-soname libflutter_tizen_mobile.so src/out/build/libflutter_tizen_mobile_experimental.so
          patchelf --set-soname libflutter_tizen_tv.so src/out/build/libflutter_tizen_tv_experimental.so
          patchelf --set-soname libflutter_tizen_common.so src/out/build/so.unstripped/libflutter_tizen_common_experimental.so
          patchelf --set-soname libflutter_tizen_mobile.so src/out/build/so.unstripped/libflutter_tizen_mobile_experimental.so
          patchelf --set-soname libflutter_tizen_tv.so src/out/build/so.unstripped/libflutter_tizen_tv_experimental.so

      - uses: actions/upload-artifact@v4
        with:
          name: tizen-${{ matrix.api-version }}-${{ matrix.arch }}
          path: |
            src/out/build/libflutter_tizen_common.so
            src/out/build/libflutter_tizen_mobile.so
            src/out/build/libflutter_tizen_tv.so
          if-no-files-found: error

      - uses: actions/upload-artifact@v4
        with:
          name: tizen-${{ matrix.api-version }}-${{ matrix.arch }}_experimental
          path: |
            src/out/build/libflutter_tizen*_experimental.so
          if-no-files-found: error

      - uses: actions/upload-artifact@v4
        with:
          name: tizen-${{ matrix.api-version }}-${{ matrix.arch }}_unittests
          path: src/out/build/flutter_tizen_unittests
          if-no-files-found: error

      - uses: actions/upload-artifact@v4
        if: ${{ github.event_name == 'push' }}
        with:
          name: tizen-${{ matrix.api-version }}-${{ matrix.arch }}_symbols
          path: |
            src/out/build/so.unstripped/libflutter_tizen_common.so
            src/out/build/so.unstripped/libflutter_tizen_mobile.so
            src/out/build/so.unstripped/libflutter_tizen_tv.so
          if-no-files-found: error

      - uses: actions/upload-artifact@v4
        if: ${{ github.event_name == 'push' }}
        with:
          name: tizen-${{ matrix.api-version }}-${{ matrix.arch }}_experimental_symbols
          path: src/out/build/so.unstripped/libflutter_tizen*_experimental.so
          if-no-files-found: error

      - uses: actions/upload-artifact@v4
        if: ${{ matrix.arch == 'arm' && matrix.api-version == '6.0' }}
        with:
          name: tizen-common
          path: |
            src/out/build/cpp_client_wrapper
            src/out/build/icu
            src/out/build/public
          if-no-files-found: error

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3
        with:
          platforms: arm

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/download-artifact@v4
        with:
          name: tizen-6.0-arm_unittests

      - name: Download engine
        run: |
          python3 tools/download_engine.py
          cp engine/arm/libflutter_engine.so .
          rm -rf engine

      - name: Run tests
        run: |
          chmod +x flutter_tizen_unittests
          docker run --rm -t -v $PWD:/root ghcr.io/flutter-tizen/tizen-headed-armv7l /root/flutter_tizen_unittests

  release:
    needs: test
    if: ${{ github.event_name == 'push' && github.ref_name == 'master' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4

      - name: Create archives
        run: |
          rm -r *_unittests
          for name in tizen-*; do
            7z a $name.zip ./$name/*
          done

      - name: Set variable
        run: echo "SHORT_SHA=$(git rev-parse --short $GITHUB_SHA)" >> $GITHUB_ENV

      - uses: softprops/action-gh-release@v2
        with:
          name: tizen-embedder-${{ env.SHORT_SHA }}
          tag_name: ${{ env.SHORT_SHA }}
          target_commitish: ${{ github.sha }}
          files: tizen-*.zip
          body: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
